
.articlePagesWraper{
    text-align: center;
    }
    .articlePagesWraper h1{
    margin-bottom: 10px;
    margin-top: 50px;
    fonnt-size: 24px;
    }
    .articlePagesWraper h4{
        /* margin:  20px; */
        padding: 20px;
    }
    .articlePagesWraper p{
     color: #777;
    }
    .articleInfo{
        display: flex;
        /* justify-content: left; */
        margin-bottom: 10px;
        flex-direction: row;
    }
    .articleInfo span{
     margin-left: 20px;
     color: #999;
    }