.articleWraper{
 
    /* height: 270px;
   box-shadow: 0px 3px 5px #ccc;
    margin-bottom: 20px; */

}
.articleWraper h3 {
   
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}
.articleWraper p{
    text-align: left;
    padding: 8px 16px; 
    color: rgb(170, 179, 154);
}