.contactWrapper{
    
}
.contactWrapper h3{
    margin: 40px 0;
    font-size: 18px;
    font-weight: bold;
}

.inputWrapper{

}
.inputWrapper label{
    display: block;
    margin-bottom: 10px;
    text-align: left;
}
.inputWrapper input{
    padding: 10px;
    width: 100%;
    border: 1px solid #DDD;
}