.createArticlePage{}

.createArticlePage h1{
    text-align: left;
    margin: 40px 0;
    font-size: 18px;
    /* font-weight: 300; */
}

.buttonwrapper{
    text-align: ;
}
.buttonwrapper button{
    padding: 5px 10px;
    background-color: aqua;
    color: #b1a7a7;
    border-radius: 5px;
    border: ;
    font-size: ;
}

.buttonwrapper button:active{
    opacity: .8;
}