.textareaWraper{

}

.textareaWraper label{
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
.textareaWraper textarea{
    width: 100%;
    min-height: 150px;
    border: 1px solid #ccc;
}
.buttonWraper{
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border-radius: 5px ;
  border: none;
  font-size: 14px;
}
.buttonWraper:hover{
  opacity: .8;
}