.button {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #1c1156;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #ffffff;
}