.articleWrapper{
   
    height: 350px;
   box-shadow: 0px 3px 5px #ccc;
    margin-bottom: 20px;
    
}

.articleWrapper img{
    width: 100%;
}

.articleWrapper h3{
    padding: 8px 16px;
}

.articleWrapper p{
    padding: 8px 16px;
    color: #777;
}