.button {
    position: fixed;
    top: 10px;
    left: 70%;
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #051367;
    color: #ECECEC;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}

.button:hover, .button:active {
    background-color: #FF1818;
}

.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}

.header_badge {
    background-color: #5463ff;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}

.button:hover .badge, .button:active .badge{
    background-color: #2c3333;
}

