.articleWraper{
    width: 24%;
    height: 270px;
   box-shadow: 0px 3px 5px #ccc;
    margin-bottom: 20px;

}
.articleWraper h3{
    text-align: left;
    padding: 8px 16px;
    font-weight: 10;
}
.articleWraper p{
    text-align: left;
    padding: 8px 16px; 
    color: rgb(170, 179, 154);
}